header.pwr-header {
  position: relative;
  height: 100px;
  margin-bottom: 64px;
}

img.head-logo {
  margin-right: 8px;
  width: 100px; 
  height: 100%; 
}


.ant-typography.head-text {
  display: inline-block;
  position: absolute;
  margin: 0;
  left: 108px;
  bottom: 0;
}