header.pwr-header {
  position: relative;
  height: 100px;
  margin-bottom: 64px;
  cursor: pointer;

  // Disable text selection
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  img.head-logo {
    margin-right: 8px;
    width: 100px; 
    height: 100%; 
  }
  
  
  .ant-typography.head-text {
    display: inline-block;
    position: absolute;
    margin: 0;
    left: 108px;
    bottom: 0;
  }
}

button.burger {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 60px;
  height: 60px;
  padding: 0;
}

img.burger-icon {
  width: 100%;
  height: 100%;
}

img.flag-icon {
  width: 100%;
  height: 100%;
}

button.flag {
  display: inline-block;
  margin: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  width: 100px;
  height: 50px;
}