.programs-editor {
  max-width: 1024px;
  margin: 0 auto;
}
.ant-btn.programs-remove-button {
  background-color: red;
  font-weight: bold;
  color: white;
}

.programs-controlls {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ant-btn.programs-controlls-button {
  margin-right: 8px;
}