.App {
  width: 100vw;
  height: 100vh;
  padding: 8px;
}

.Login {
  max-width: 1090px;
  margin: 0 auto;
}
header {
  position: relative;
  height: 100px;
  margin-bottom: 64px;
}

.head-logo {
  margin-right: 8px;
  width: 100px; 
  height: 100%; 
}


.ant-typography.head-text {
  display: inline-block;
  position: absolute;
  margin: 0;
  left: 108px;
  bottom: 0;
}


.ant-form-item-required {
  min-width: 100px;
}